body {
    color: white;
}

.profile-section {
    background-color: coral;
}

.season-section {
    background-color: deepskyblue;
}

.section {
    display: relative;
    height: 300px;
    text-align: center;
}

.section--trophies {
    display: relative;
    height: 450px;
    text-align: center;
}
.level-number {
    font-size: 70px;
    margin-top: 40px;
}

.level-label {
    text-align: center;
    width: 100%;
    margin: 10px;
    color: black;
}
.level-label button{
    width: 100px;
}
#progress-bar {
    position: relative;
    top: 40px;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    height: 40px;
    background-color: grey;
    border: 2px solid black;
    border-radius: 25px;
}

#myBar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: green;
    border: 1px solid black;
    border-radius: 25px;
}

.profile-section .level{
    position: relative;
    top: 80px;
}

#label {
    text-align: center;
    color: white;
    position: relative;
    width: 600px;
    line-height: 35px;
}

.season {
    display: relative;
    height: 150px;
    width: 100%;
    margin: 40px;

    /*background-color: seagreen;*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-container {
    display: flex;
    height: 100%;
}

.circle-container img{
    width: 112px;
}

.see-through{
    opacity: 0.3;
}

.circle {
    height: 130px;
    width: 130px;
    border: 8px solid white;
    border-radius: 50%;
    margin: 20px;
}

.circle span {
    line-height: 115px;
}

.circle .filled {
    background-color: yellow;
}

#you-may-like {
    background: #138B81;
    color: #fff;
}

#you-may-like h4 {
    margin-left: 25px;
    padding-top: 25px;
}

#you-may-like__achievements {
    margin-top: 25px;
    margin-left: 25px;
}

#you-may-like__achievements > ul > li > div {
    display: inline-block;
    height: 50px;
    margin: 5px;
    vertical-align: top;
}

#you-may-like__achievements .icon {
    vertical-align: top;
    display: inline-block;
    background: blue;
    height: 50px;
    width: 50px;
    background: url(06-partridge-bbc.jpg);
    background-size: cover;
    background-repeat:no-repeat;
}